.bg {
    width: 100%;
    min-height: 100%;
    
    background: #000 center/cover url(../../Img/bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.title {
    font-size: 6rem;
    color: #fff;
    margin-top: 560px;
    text-align: center;
}

@media (max-width: 915px) {
    .title {
        font-size: 3rem;
        color: #fff;
        margin-top: 700px;
        text-align: center;
    }
}
